
<div [ngStyle]="getStyle()">
  <h1>Child 2 Component</h1>

  <h2>App businessUnit: </h2>
  {{ businessName }}

  <h3>App Settings: </h3>
  <h4>JSON Data: </h4>
  {{ settings | json }}
  <h4>Connection String: </h4> {{ settings.connectionString}}
  <h4>Image URL: </h4> {{ settings.defaultImageUrl}}
  <h4>Business Name: </h4> {{ settings.businessName}}
  <h4>ngClass: </h4> {{ settings.ngClass }}
  <h4>ngStyle: </h4> {{ settings.ngStyle }}

  <h1>Angular Child Router</h1>
  <nav>
    <a routerLink="/child3" routerLinkActive="active">Show Child 3 in Child 2 Router Outlet</a><br><br>
  </nav>
  <router-outlet></router-outlet>
</div>

