div {
  /* background: paleturquoise; */
  padding:20px;
  font-size: 34px;
  font-style: normal;
  font-family: Arial;
  /* color: purple; */
  margin: 20px;
  text-align: center;
}

h4 {
  color: dodgerblue;
}

h1 {
  color: darkblue;
}

h2 {
  color: purple;
}


h3 {
  color: purple;
}
