div {
  background: lightblue;
  padding:50px;
  font-size: 16px;
  font-style: normal;
  font-family: Arial;
  color: red;
}

h4 {
  color: dodgerblue;
}


h1 {
  color: darkblue;
}

h2 {
  color: green;
}
