div {
  background: lightpink;
  padding:50px;
  font-size: 18px;
  font-style: normal;
  font-family: Arial;
  color: red;
}

h4 {
  color: dodgerblue;
}

h1 {
  color: darkblue;
}

h2 {
  color: purple;
}

h3 {
  color: purple;
}

